.info-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
  &__wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
  }
  &__icon {
    color: $c-black;
    width: 65px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $c-yellow;
      border: 3px solid $c-black;
      z-index: -1;
      transform: rotate(-90deg);
      border-radius: 30% 70% 70% 30% / 50% 50% 50% 50%;
    }
    .icon {
      font-size: 26px;
    }
  }
  &__txt {
    font-family: $font-family-secondary;
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;
    color: $c-black;
  }
  &--bg {
    background: #fff;
    padding: 15px 45px;
    border-radius: 55px;
    user-select: none;
  }
}
