.main-title {
  line-height: 1.4em;
  font-family: $font-family-secondary;
  position: relative;
  &--lg {
    font-size: 76px;
    font-weight: 700;
  }
  &--md {
    font-size: 38px;
    font-weight: 700;
  }
  &--sm {
    font-size: 22px;
    font-weight: 600;
  }
  &__small {
    width: fit-content;
    background-color: #f6f6f6;
    color: #c4c4c4;
    padding: 5px 15px;
    font-size: 14px;
    line-height: 1em;
    border-radius: 15px;
    margin-left: auto;
    margin-right: 40px;
    position: absolute;
    bottom: calc(100% + 7.5px);
    left: 0;
  }
}

.main-txt {
  line-height: 1.3em;
  font-family: $font-family-base;
  font-size: 22px;
  font-weight: 600;
  color: var(--color-gray);
}

.main-subtitle {
  font-size: 26px;
  font-weight: 600;
  position: relative;
  z-index: 1;
  padding: 20px 0 20px 20px;
  line-height: 1em;
  width: fit-content;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 65px;
    width: 75px;
    border-radius: 30% 70% 70% 30% / 50% 50% 50% 50%;
    z-index: -1;
    background-color: var(--color-primary);
  }
  &--centered {
    padding-left: 0;
    &:before {
      left: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(90deg);
    }
  }
}
