.main-title {
  line-height: 1.4em;
  font-family: $font-family-secondary;
  position: relative;
  @include bp(desktop) {
    line-height: 1.2em;
  }
  &--lg {
    font-size: 58px;
    font-weight: 700;

    @include bp(desktop) {
      font-size: 46px;
    }
    @include bp(tablet-small) {
      font-size: 34px;
    }
  }
  &--md {
    font-size: 28px;
    font-weight: 700;
  }
  &--sm {
    font-size: 18px;
    font-weight: 600;
    @include bp(desktop) {
      font-size: 16px;
    }
  }
}

.main-txt {
  line-height: 1.3em;
  font-family: $font-family-base;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-gray);

  @include bp(desktop) {
    font-size: 16px;
  }
}

.main-subtitle {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  z-index: 1;
  padding: 20px 0 20px 20px;
  line-height: 1em;
  width: fit-content;

  @include bp(desktop) {
    font-size: 16px;
  }
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 65px;
    width: 75px;
    border-radius: 30% 70% 70% 30% / 50% 50% 50% 50%;
    z-index: -1;
    background-color: var(--color-primary);
  }
  &--centered {
    padding-left: 0;
    &:before {
      left: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(90deg);
    }
  }
}
