header.header 
    .header__wrapper 
        .main-btn
            .main-btn__menu-icon 
                span
                span
                span
                span
        .header__title WELCOME 
        .header__language 
            .header__language__button
                span.header__language__button__txt EN
                span.header__language__button__icon.icon.icon-font(data-icon-id="iconAngle")