.pagination#mainMenu
    .pagination__item(data-menuanchor="intro")
    .pagination__item(data-menuanchor="portfolio")
    .pagination__item(data-menuanchor="about")
    .pagination__item(data-menuanchor="touch")
.main-btn.indicator-down.js-indicator-up-down
    span.icon.icon-font(data-icon-id="iconArrow")