extends ../layout/layoutMain
block append vars

block append head
    title Starter Kit - Webpack 5

block content
    //- main#swup.transition-fade
    .section-shape
        .section-shape__item
        .section-shape__item
        .section-shape__item
        .section-shape__item
    #fullpage 
        include ../components/index/intro 
        include ../components/index/portfolio
        section.section.about(data-section-id="about")
            div.centered third
        section.section.touch(data-section-id="touch")
            div.centered last