extends ../layout/layoutMain
block append vars

block append head
    title alperencelik.com

block content
    //- main#swup.transition-fade
    .section-shape
        .section-shape__item
        .section-shape__item
        .section-shape__item
        .section-shape__item
    #fullpage 
        include ../components/index/intro 
        include ../components/index/portfolio
        include ../components/index/about
        include ../components/index/touch