extends ../layout/layoutMain
block append vars

block append head
    title Uikit

block content
    main#swup.transition-fade
        .container
            .uikit 
                .uikit__card
                    .uikit__title Main Title - Lg  76px
                    .uikit__content 
                        .main-title.main-title--lg 
                            h1 Lorem ipsum dolor sit.
                .uikit__card
                    .uikit__title Main Title - Md  38px
                    .uikit__content 
                        .main-title.main-title--md 
                            h1 Lorem ipsum dolor sit.
                .uikit__card
                    .uikit__title Main Title - Sm  22px
                    .uikit__content 
                        .main-title.main-title--sm
                            h1 Lorem ipsum dolor sit.
                .uikit__card
                    .uikit__title Main Txt
                    .uikit__content 
                        .main-txt 
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum sed in unde quaerat soluta at maiores impedit sint reiciendis provident.
                .uikit__card
                    .uikit__title Main Subtitle
                    .uikit__content 
                        .main-subtitle 
                            h3 introduction 
                .uikit__card
                    .uikit__title Main Subtitle centered
                    .uikit__content 
                        .main-subtitle.main-subtitle--centered
                            h3 introduction 
                .uikit__card
                    .uikit__title info item
                    .uikit__content 
                        .info-item 
                            .info-item__icon
                                span.icon.icon-font(data-icon-id="iconCode")
                            .info-item__txt UI DEVELOPMENT
                .uikit__card
                    .uikit__title info item with bg
                    .uikit__content 
                        .info-item.info-item--bg
                            .info-item__icon
                                span.icon.icon-font(data-icon-id="iconCode")
                            .info-item__txt UI DEVELOPMENT
                .uikit__card
                    .uikit__title btn default yellow icon right
                    .uikit__content 
                        .btn.btn--icon-r.btn--yellow
                            .btn__icon 
                                span.icon.icon-font(data-icon-id="iconAngle")
                            .btn__txt Project Detail
                .uikit__card
                    .uikit__title badge item
                    .uikit__content 
                        .badge-item css

                        