extends ../layout/layoutMain
block append vars

block append head
    title Uikit

block content
    main#swup.transition-fade
        .container
            .uikit 
                .uikit__card
                    .uikit__title Main Title - Lg  76px
                    .uikit__content 
                        .main-title.main-title--lg 
                            h1 Lorem ipsum dolor sit.
                .uikit__card
                    .uikit__title Main Title - Md  38px
                    .uikit__content 
                        .main-title.main-title--md 
                            h1 Lorem ipsum dolor sit.
                .uikit__card
                    .uikit__title Main Title - Sm  22px
                    .uikit__content 
                        .main-title.main-title--sm
                            h1 Lorem ipsum dolor sit.
                .uikit__card
                    .uikit__title Main Txt
                    .uikit__content 
                        .main-txt 
                            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum sed in unde quaerat soluta at maiores impedit sint reiciendis provident.