.intro {
  .social-item {
    &__wrapper {
      position: absolute;
      bottom: 55px;
      left: 70px;
      @include bp(desktop) {
        left: 30px;
      }
    }
  }
  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    @include bp(tablet) {
      min-height: 100vh;
    }
    .main-title {
      max-width: 700px;
    }
    .info-item__wrapper {
      margin-top: 60px;
    }
  }
}
