.touch {
  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    @include bp(tablet) {
      height: auto;
      padding: 75px 0 150px 0;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .main-title {
      max-width: 800px;
      &--lg {
        margin-top: 20px;
        margin-bottom: 20px;
        @include bp(desktop) {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
  &__mail {
    margin: 20px 0 40px 0;
    -webkit-text-stroke: 3px black;
    -webkit-text-fill-color: transparent;
    font-family: $font-family-secondary;
    transition: $transition;
    font-weight: 700;
    color: transparent;
    font-size: 50px;
    @include bp(desktop) {
      margin: 15px 0 30px 0;
      font-size: 40px;
    }
    @include bp(tablet-small) {
      font-size: 34px;
      -webkit-text-stroke: 1.5px black;
    }
    &:hover {
      color: var(--color-primary);
      -webkit-text-fill-color: var(--color-primary);
    }
  }
  &__copyright {
    position: absolute;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);
    bottom: 55px;
  }
}
