/* Font Sizes */

/* Font Families */
$font-family-base: "Open Sans", sans-serif;
$font-family-secondary: "Poppins", sans-serif;

/* Transitions */
$transition: 0.3s cubic-bezier(0.29, 0.13, 0.27, 0.74);
$transition-fast: 0.2s cubic-bezier(0.29, 0.13, 0.27, 0.74);

/* Colors */
:root {
  --color-primary: #fff500;
  --color-primary-second: #e2e700;
  --color-black: #000000;
  --color-gray: #6a6a6a;
}
