section.section.about(data-section-id="about")
    .about__wrapper  
        .container
            .about__content 
                .about__info 
                    .main-subtitle 
                        h3 ui designer & developer 
                    .main-title.main-title--md 
                        h1 I'M ALPEREN
                    .main-txt
                        h2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates voluptatibus odit, ad alias non totam?
                    .about__info__item 
                        .main-title.main-title--sm 
                            h4 Services:
                        .swiper-container.js-about-services-slider 
                            .swiper-wrapper 
                                .swiper-slide 
                                    .info-item 
                                        .info-item__icon
                                            span.icon.icon-font(data-icon-id="iconCode")
                                        .info-item__txt FRONT END DEVELOPMENT
                                .swiper-slide
                                    .info-item 
                                        .info-item__icon
                                            span.icon.icon-font(data-icon-id="iconDesign")
                                        .info-item__txt UI DEVELOPMENT
                                .swiper-slide
                                    .info-item 
                                        .info-item__icon
                                            span.icon.icon-font(data-icon-id="iconDesign")
                                        .info-item__txt PSD / FIGMA / XD TO HTML
                    .about__info__item 
                        .main-title.main-title--sm 
                            h4 Technologies:
                        .badge-item__wrapper.show-more
                            .badge-item HTML
                            .badge-item CSS
                            .badge-item JAVASCRIPT
                            .badge-item GULP
                            .badge-item SCSS
                            .badge-item PHP
                .about__image
                    img(src="../../images/alperencelik-web.jpeg", alt="")