section.section.intro(data-section-id="intro")
    .intro__wrapper 
        .container
            .main-subtitle introduction
            .main-title.main-title--lg 
                h1 CREATE INCREDIBLE THINGS
            .info-item__wrapper 
                .info-item.info-item--bg
                    .info-item__icon
                        span.icon.icon-font(data-icon-id="iconCode")
                    .info-item__txt UI DEVELOPMENT
                .info-item.info-item--bg
                    .info-item__icon
                        span.icon.icon-font(data-icon-id="iconDesign")
                    .info-item__txt UI DESIGN
    .social-item__wrapper 
        a(href="#0").social-item instagram
        a(href="#0").social-item linkedin
        a(href="#0").social-item behance
        a(href="#0").social-item github