section.section.intro(data-section-id="intro")
    .intro__wrapper 
        .container
            .main-subtitle introduction
            .main-title.main-title--lg 
                h1 CREATE INCREDIBLE THINGS
            .info-item__wrapper 
                .info-item.info-item--bg
                    .info-item__icon
                        span.icon.icon-font(data-icon-id="iconCode")
                    .info-item__txt UI DEVELOPMENT
                .info-item.info-item--bg
                    .info-item__icon
                        span.icon.icon-font(data-icon-id="iconDesign")
                    .info-item__txt UI DESIGN
    .social-item__wrapper 
        a(href="https://www.instagram.com/alperen.celikkkk/" target="_blank").social-item instagram
            span.icon.icon-font(data-icon-id="iconArrow")
        a(href="https://www.linkedin.com/in/alperen-celik-com" target="_blank").social-item linkedin
            span.icon.icon-font(data-icon-id="iconArrow")
        a(href="https://www.behance.net/alperenelik" target="_blank").social-item behance
            span.icon.icon-font(data-icon-id="iconArrow")
        a(href="https://github.com/etrielQ" target="_blank").social-item github
            span.icon.icon-font(data-icon-id="iconArrow")