section.section.intro(data-section-id="intro")
        .section-shape
            .section-shape__item
            .section-shape__item
            .section-shape__item
            .section-shape__item
        .intro__wrapper 
            .container
                .main-subtitle introduction
                .main-title.main-title--lg 
                    h1 CREATE INCREDIBLE THINGS
                .info-item__wrapper 
                    .info-item.info-item--bg
                        .info-item__icon
                            span.icon.icon-font(data-icon-id="iconCode")
                        .info-item__txt UI DEVELOPMENT
                    .info-item.info-item--bg
                        .info-item__icon
                            span.icon.icon-font(data-icon-id="iconCode")
                        .info-item__txt UI DEVELOPMENT
        .social-item__wrapper 
            a(href="#0").social-item instagram
            a(href="#0").social-item linkedin
            a(href="#0").social-item behance
            a(href="#0").social-item github