section.section.portfolio(data-section-id="portfolio")
    .portfolio__wrapper  
        .container
            .swiper-container.js-portfolio-slider 
                .swiper-wrapper 
                    .swiper-slide 
                        .portfolio__item 
                            .portfolio__preview
                                .portfolio__tools 
                                    .portfolio__tools__dots
                                        .portfolio__tools__dots__item 
                                        .portfolio__tools__dots__item 
                                        .portfolio__tools__dots__item 
                                    a(href="https://bulutklinik.com" target="_blank").portfolio__tools__link www.bulutklinik.com
                                .portfolio__img.scroll-normal
                                    img(src="../../images/bulutklinik.jpg", alt="bulut klinik web site")
                            .portfolio__content 
                                a(href="#0").main-title.main-title--md
                                    h3 bulut klinik
                                    span.icon.icon-font(data-icon-id="iconArrow")
                                .portfolio__info
                                    .portfolio__info__item 
                                        .main-title.main-title--sm 
                                            h4 Mission:
                                        .info-item 
                                            .info-item__icon
                                                span.icon.icon-font(data-icon-id="iconCode")
                                            .info-item__txt FRONT END DEVELOPMENT
                                    .portfolio__info__item 
                                        .main-title.main-title--sm 
                                            h4 Technologies:
                                        .badge-item__wrapper
                                            .badge-item HTML
                                            .badge-item CSS
                                            .badge-item JAVASCRIPT
                                a(href="#0").btn.btn--icon-r.btn--primary
                                    .btn__icon 
                                        span.icon.icon-font(data-icon-id="iconAngle")
                                    .btn__txt Project Detail